/*.card-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  .card-header{
    background-color:darken($alert-success-bg, 5%);
    border-bottom:1px solid darken($alert-success-bg, 10%)
  }
}

.card-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  .card-header{
    background-color:darken($alert-info-bg, 5%);
    border-bottom:1px solid darken($alert-info-bg, 10%)
  }
}

.card-primary {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  .card-header{
    background-color:darken($alert-info-bg, 5%);
    border-bottom:1px solid darken($alert-info-bg, 10%)
  }
}

.card-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  .card-header{
    background-color:darken($alert-warning-bg, 5%);
    border-bottom:1px solid darken($alert-warning-bg, 10%)
  }
}

.card-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  .card-header{
    background-color:darken($alert-danger-bg, 5%);
    border-bottom:1px solid darken($alert-danger-bg, 10%)
  }
}*/
