@mixin make-narrow-container-max-widths($max-widths: $container-narrow-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-narrow-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-narrow-max-width;
    }
  }
}

.container-narrow {
  @include make-container();

  // For each breakpoint, define the maximum width of the container in a media query
  @each $breakpoint, $container-narrow-max-width in $container-narrow-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-narrow-max-width;
    }
  }
}
