/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Inline list
 */
.inline-list {
	li {
		display: inline-block;
	}
}

/**
 * Social list
 */
.social-list {
	li {
		margin: 0 0.4rem 1em 0;
	}
	
	a {
		font-size: 1.6em;
	}
}


/**
 * Headline list
 */
.headline-list {
	margin-bottom: 1em;

	&.flush {
		margin: 0;
	}

	h4 {
		font-weight: normal;
	}

	li {
		padding: 1em/4 0;
		border-top: 1px solid $gray-light;
	}
}

/**
 * Post list
 */
.post-list {
	li {
		margin-bottom: 1em;
	}
}

/**
 * Bullet list
 */
.bullet-list {
	list-style: square;
	margin: 0 0 1em 1.2em;
	line-height: 1.3;

	li {
		margin-bottom: 1em;
	}
}

/**
 * Text list
 */
.text-list {
	margin: 0 0 1em;
	line-height: 1.3;

	li {
		margin-bottom: 1em;
	}
}


/**
 * Media List
 */
.c-media-list__item {
	margin-bottom: 1.5em;
}

/**
 * Tile list
 */
.c-tile-list{
	display: flex;
	flex-direction: column;
	
	@media all and (min-width: 55rem) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/**
 * Tile list item
 */
 
.c-tile-list__item {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
	
	&:nth-child(2n) {
		padding-right: 0;
	}
	
	@media all and (min-width: 55rem) {
		width: 50%;
		margin: 0;
		padding: 0 1em 1em 0;
	}
}

/** Thumbnail list
 *
 */
 
.c-thumbnail-list li {
     margin-bottom: 1.5em;
}

.c-thumbnail-list .c-block-media__media {
    width: 80px;
}

.c-thumbnail-list .c-block-media__headline {
    text-transform: none !important;
    font-size: 1.5em;
}

/**
 * Color bars list
 */
.c-color-bars-list {

	li {
		max-width: 480px;
		position: relative;
		height: 80px;
		padding-top: 15px;
		padding-left: 20px;
		border: 1px solid $gray-light;
		border-top: 0;
		color: $gray;
		font-size: 1.3rem;
		font-weight: bold;

		&:first-child {
			border-top: 1px solid $gray-light;
		}

		&.cur {
			height: 120px;

			&:before {
				position: absolute;
				height: 100%;
				width: 10px;
				bottom: 0px;
				left: 0px;
				content: "";
				background: $fedora-blue;
			}
		}

		&.prev {

			&:before {
				position: absolute;
				height: 100%;
				width: 10px;
				bottom: 0px;
				left: 0px;
				content: "";
				background: $fedora-green;
			}
		}

		&.old {
			color: $gray-light;
		}
	}
}

/**
 * Ticket list
 */
.c-ticket-list {
	max-width: 480px;

	li {
		border: 1px solid $gray-light;
		border-top: 0;
		padding: 15px 20px;
		color: $gray-medium;
	}

	&:first-child {
		border-top: 1px solid $gray-light;
	}

	.list-item-title, .list-item-data {
		float: left;
	}

	.list-item-title {
		border-radius: 20px;
		padding: 4px 10px;
		background: $gray-medium;
		color: white;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.origin {
		float: right;
		margin-top: 3px;

		p {
			display: inline-block;
			margin-right: 2px;
		}

		img {
			margin-bottom: 5px;
		}
	}

	.c-widget-action-btn.btn {
		float: right;
		padding: 3px 15px;

		img {
			display: block;
		}
	}

	.list-subheader {
		font-size: 1.2rem;
		font-weight: bold;
	}

	.list-item-info, .list-item-data {
		margin: 0;
		font-size: 1.2rem;
	}
}
