.modal-header {
  background-color: $gray-lighter;
}

.modal-footer {
  border-top: 0px !important;
}

.modal h4 {
  text-transform: none !important;
}

.modal-card {
  background-color: $gray-light;
  padding: 15px;
}

.modal-body h4 {
  font-weight: 600 !important;
}
