// Brand Colors
//
// Colors from Fedora brand system

 $color-brand-green: #5C832F;
 $color-brand-green-dark: #3b4a20;
 
 $fedora-blue: #3c6eb4;
 $fedora-dark-blue: #294172;
 $fedora-magenta: #db3279;
 $fedora-orange: #e59728;
 $fedora-green: #79db32;
 $fedora-purple: #a07cbc;
 
 $fedora-blue-dark: #294a7a;
 $fedora-magenta-dark: #9a1b51;
 $fedora-orange-dark: #9a6213;
 $fedora-green-dark: #488b18;
 $fedora-purple-dark: #70488f;
 
// Patternlab Neutral Colors
//
// These are needed for the patterns from the patternlab
// fedora hubs pattern project. TODO Can be removed if converted
// to variables of grey used above.

$color-white: #fff;
$gray-lightest: #f7f7f9;
$gray-lighter: #eceeef;
$gray-light: #d5d5d5;
$gray-medium: #808080;
$gray: #55595c;
$gray-dark: #373a3c;
$color-black: #000;

$blue: $fedora-blue;

$container-narrow-max-widths: (
    sm: 34rem,    // 480
    md: 45rem,    // 720
    lg: 45rem,    // 960
    xl: 45rem  // 1140
  );
  
$font-family-sans-serif: "Open Sans";
$font-family-monospace: "Hack", monospace;

// Typography
//
// These are the Fedora brand fonts. 
//
// You need to import the font files separately to be able to use them.
// https://pagure.io/fedora-bootstrap-fonts
//
// They are hosted at:
// https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/

$font-size-base: 0.875rem;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$font : "Open Sans", "Helvetica", "Arial", sans-serif;
$font-secondary : "Montserrat", Georgia, Times, "Times New Roman", serif;

$headings-line-height:        1.1;

$pre-bg: #fdf6e3;
$pre-color: #586e75;

$body-color: $gray-dark;

