/** TODO

* work with inkscape design and get .c-widget-header h5 style overrides matching it better
* fine-tune positioning of c-widget-header-btns

**/

/**
 * Widget header
 */
.c-widget-header.card-header {
	padding: 10px 10px 5px 10px;
  max-width: 480px;
	border: 1px solid $gray-light;
	border-radius: 0 !important;
	background: $gray-lightest;
}

.c-widget-header h6 {
	font-family: "Open Sans";
	font-size: 1.3rem;
	font-weight: normal;
}	 

.c-widget-header-btn {
	margin-top: -29px;
	float: right;
}

/**
 * Widget action button
 */
.c-widget-action-btn.btn{
	padding: 5px 10px;
	color: $fedora-purple;
	font-weight: bold;

	&:hover, &:focus, &:active, &:active:focus {
		color: $fedora-purple;
	}
}

/**
 * Widget view more button
 */
.c-widget-view-more-btn {
	button {
		padding: 0px;
		margin-right: 5px;
		color: $gray-medium;
		font-size: 1.2rem;

		&:hover, &:focus {
			color: $gray;
		}
	}

	img {
		margin-top: 2px;
	}
}

/**
 * Widget meeting event
 */
.c-widget-meeting-event {
	max-width: 480px;
	border: 1px solid $gray-light;
	padding: 15px 20px;

	h6, h5, p {
		color: $gray;
		font-family: "Open Sans";
	}
	h5 {
		font-weight: bold;
		font-size: 2rem;
	}
	h6 {
		margin-top: 2px;
		margin-bottom: 10px;
		font-size: 1.1rem;
	}
	.date, .time-ch {
		font-size: 0.9rem;
		float: left;
	}
	button {
		float: right;
	}
	.date {
		margin-right: 20px;
	}
	.time-ch {
		p, a {
			padding: 0;
			margin: 0;
		}
	}
}

/**
 * Widget meeting request
 */
.c-widget-meeting-request {
	max-width: 480px;
	border: 1px solid $gray-light;
	padding: 15px 20px;

	h6, h5 {
		color: $gray;
		font-family: "Open Sans";
	}
	h5 {
		float: left;
		font-weight: bold;
		font-size: 2rem;
	}
	h6 {
		margin-top: 2px;
		margin-bottom: 10px;
		font-size: 1.1rem;
	}
	.meeting-request-btn {
		float: right;
	}
}
